.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.inputText {
  padding: 10px;
}

.submitButton {
  padding: 8px 15px;
  cursor: pointer;
}

.todoList li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoList li input[type='text'] {
  padding: 8px;
  width: 69%;
}

.todoList li input[type='checkbox'] {
  padding: 8px;
  margin-left: 12px
}

.todoList li button {
  margin-left: 12px;
}